In [1]:
name : str = "Muhammad Qasim"
print(name)

Muhammad Qasim

In [3]:
name : str = "Muhammad Qasim"
print(type(name))
print(name)

<class 'str'>
Muhammad Qasim

In [4]:
message : str = "PIAIC Student Card \n father's Name"
print(message)

PIAIC Student Card
 father's Name

In [5]:
"a" + "b" + "c"

'abc'

In [7]:

"ak" + "7"

'ak7'

In [8]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30

card : str = "PIAIC Student Card\nStudent Name: " + name + "\nAge:" + str(age)

print(card)

PIAIC Student Card
Student Name: Muhammad Qasim
Age:30

In [9]:
print(7 + 8 + 2)

17

"\" line continue

In [10]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30

card : str = "PIAIC Student Card\nStudent Name: " + name +\
"\nAge:" + str(age)+ "\n"+\
"Education: " + education

print(card)

PIAIC Student Card
Student Name: Muhammad Qasim
Age:30
Education: Master in Data Science

In [11]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = """
PIAIC Student Card
Student Name : 
Father's Name: 
Age: ......
Education : .....
"""

print(card)

PIAIC Student Card
Student Name :
Father's Name:
Age: ......
Education : .....

F-string pthon

In [12]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
"""

print(card)

PIAIC Student Card
Student Name : Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science

In [13]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}

Total {2 + 8 + 9 + 3}
"""

print(card)

PIAIC Student Card
Student Name : Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science

Total 22

F-string and Jinja style

In [14]:
[i for i in dir(str) if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [15]:
a = 7
b = 8

"pakistan value a = {} and value b = {}".format(a,b)

'pakistan value a = 7 and value b = 8'

In [ ]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = """
PIAIC Student Card
Student Name : {}
Father's Name: {}
Age: {}
Education : {}
""".format(fname, name, education, age)

print(card)

In [16]:
name : str = 'Muhammad Qasim'
fname : str = "Muhammad Aslam"
education : str = "Master in Data Science"
age : int = 30


card : str = """
PIAIC Student Card
Student Name : {1}
Father's Name: {0}
Age: {3}
Education : {2}
""".format(fname, name, education, age)
#           0      1       2        3

print(card)

PIAIC Student Card
Student Name : Muhammad Qasim
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science

Recommended below two f-string format

In [17]:
student_code : str = """
print("My Name is Muhammad Qasim")
a:int = 7
b:int = 8
print(a + b)
"""

exec(student_code)

My Name is Muhammad Qasim
15

In [18]:
a: list[str] = [i for i in dir(str) if "__" not in i]
print(a)
print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
47

In [19]:
name : str = "MuHammAd QasIm"

print(name.capitalize())

Muhammad qasim

In [ ]:
name : str = "      MuHammAd QasIm         "

#variable_name.method()
display(name)
display(name.lstrip())

In [20]:
print("Name:\t\t Muhammad Qasim")

Name:		 Muhammad Qasim

In [21]:
print("Name:\nMuhammad Qasim")

Name:
Muhammad Qasim

In [23]:
piaic_student_name : str = "Muhammad Qasim"
print(piaic_student_name)

Muhammad Qasim